apiVersion: v1
kind: ConfigMap
metadata:
  name: adot-config
  namespace: observability
data:
  collector.yaml: |
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: kubernetes-pods
              kubernetes_sd_configs:
                - role: pod
    exporters:
      prometheusremotewrite:
        endpoint: <AMP_ENDPOINT>/api/v1/remote_write
        auth:
          authenticator: sigv4auth
    extensions:
      sigv4auth:
        region: us-east-1
        service: aps
    service:
      extensions: [sigv4auth]
      pipelines:
        metrics:
          receivers: [prometheus]
          exporters: [prometheusremotewrite]
